.header {
  margin: 2rem 0 2rem 0;
  font-family: Lexend-Regular;
  font-size: 2.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #273d4c;
}
.footer{
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #30cf87;
  margin-top: 5rem;
}
.center-img{
  width: 20rem;
  height: 20rem;
  margin: auto;
}
.top-img{
  width: 3rem;
  height: 3rem;
  margin: auto;
}
