.card-box{
  padding: 0.5rem;
  text-align: center;
}
.btn-pay{
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  background: #EA7267;
  align-items: center;
  border-radius: 4px;
  height: 3rem;
  margin-top: 3rem;
}
.header{
  margin: 1.688rem 0.625rem 0.315rem 1.938rem;
  font-family: Lexend-Regular;
  font-size: 1.625rem;
  font-weight: 600;
  color: #273d4c;
}
.btn-no{
  text-decoration: underline;
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  color: #30CF87;
  margin-top: 1.5rem;
}
