<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="./home" class="back_btn" title="blank"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<div class="bill-header-1">TCL Service Station</div>
<div class="station station-address">Gomtinagar Extention, Lucknow</div>
<ion-content>
  <ion-card class="text-align-center padding-1-rem">
      <div class="sub-header-1">Reserved port</div>
      <div class="padding-l-5rem">
        <img src="assets/icon/port/port-1.svg" />
        <span class="port-name">A7</span>
      </div>
      <div class="divider"></div>
      <div class="sub-header-2">Reservation Details</div>
      <div class="sub-header-body">March 24, 2021 | 06:34 PM</div>
      <div class="sub-header-2 padding-t-10">Duration</div>
      <div class="sub-header-body">1 h 20 min</div>
      <div class="sub-header-2 padding-t-10">Status</div>
      <div class="sub-header-body color-green text-transform-upper">Successfully Charged</div>
  </ion-card>
</ion-content>
<ion-button expand="full" class="margin-b0" size="large">View Station Details</ion-button>
<ion-button color="secondary" expand="full" size="large"><ion-img class="padding-right-10" src="assets/icon/direction.svg"></ion-img> Get directions</ion-button>
