<ion-content scroll-y="false">
  <img class="close-icon" src="./assets/icon/close.svg" (click)="close()"/>
  <ion-img class="header-icon" src="assets/icon/circle-tunder.svg"></ion-img>
  <div class="title-text">Paid Successfully!</div>
  <div class="title-status">You have paid your bill.</div>
  <ion-grid class="padding-0">
    <ion-row>
      <ion-col size="8">
        <div class="station station-address">Charging Station</div>
        <div class="bill-header-1">TCL Service Station</div>
      </ion-col>
      <ion-col>
        <div class="body-text color-black text-align-right">24/03/21</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="padding-0">
    <ion-row>
      <ion-col>
        <div class="body-header text-align-center">Start Time</div>
        <div class="body-text color-black text-align-center">1h 30min</div>
      </ion-col>
      <ion-col>
        <div class="body-header text-align-center">End Time</div>
        <div class="body-text color-black text-align-center">1h 30min</div>
      </ion-col>
      <ion-col>
        <div class="body-header text-align-center">Duration</div>
        <div class="body-text color-black text-align-center">1h 30min</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="body-header text-align-center">Energy Consumed</div>
      </ion-col>
      <ion-col>
        <div class="body-text marge-tb color-black text-align-center">120kWh</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="padding-0">
    <ion-row>
      <ion-col class="bill-margin">
        <div class="bill-header-2 bill-margin">Bill Details</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="bill-margin">
        <div class="body-header">Charging cost</div>
        <div class="body-header">GST</div>
        <div class="body-header">Discount</div>
        <div class="body-header color-green font-weight-bold">Total Payable</div>
      </ion-col>
      <ion-col>
        <div class="body-text marge-tbr color-lgrey text-align-right">₹180.00</div>
        <div class="body-text marge-tbr color-lgrey text-align-right">₹16.00</div>
        <div class="body-text marge-tbr color-green text-align-right">-₹30.00</div>
        <div class="body-text marge-tbr color-black font-weight-bold text-align-right">₹166.00</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
