<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="" class="back_btn" title="blank" (click)="close()"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<div class="bill-header-1">TCL Service Station</div>
<div class="station station-address">Gomtinagar Extention, Lucknow</div>
<ion-content>
  <div class="remaining">
    <img src="assets/icon/tunder-double.svg" />
    <div class="header">1:01:34</div>
    <div class="sub-header">Time remaining</div>
  </div>
  <div class="loader"></div>
  <ion-grid class="amount padding-top-20">
    <ion-row>
      <ion-col>
        <div class="body-header">02:45 PM</div>
        <div class="body-text">Start Time</div>
      </ion-col>
      <ion-col>
        <div class="body-header">03:35 PM</div>
        <div class="body-text">End Time</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="color-light-grey">
        <div class="body-header">₹10.00</div>
        <div class="body-text color-lgrey">Amount</div>
      </ion-col>
      <ion-col class="color-light-grey mr-1rem">
        <div class="body-header">10kW</div>
        <div class="body-text color-lgrey">Charge</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-button (click)="onChargeStop()" expand="full" color="secondary" size="large">Stop Charging</ion-button>
