<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="" class="back_btn" title="blank" (click)="close()"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<div class="bill-header-1">TCL Service Station</div>
<div class="station station-address">Gomtinagar Extention, Lucknow</div>
<ion-content>
  <div class="remaining">
    <img src="assets/icon/tunder-double.svg" />
    <div class="header">{{message}}</div>
    <div class="sub-header">Time remaining</div>
  </div>
  <div class="progress-b">
    <circle-progress
            [percent]="85"
            [radius]="125"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
    ></circle-progress>
  </div>
  <ion-grid class="amount padding-top-20">
    <ion-row>
      <ion-col>
        <div class="body-header">{{startChargingData.startTime | date:'shortTime'}}</div>
        <div class="body-text">Start Time</div>
      </ion-col>
      <ion-col>
        <div class="body-header">{{startChargingData.stopTime | date:'shortTime'}}</div>
        <div class="body-text">End Time</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="color-light-grey">
        <div class="body-header">₹{{transactionData?.estimates.estimatedCost}}</div>
        <div class="body-text color-lgrey">Amount</div>
      </ion-col>
      <ion-col class="color-light-grey mr-1rem">
        <div class="body-header">{{transactionData?.estimates.estimatedKwh}}kW</div>
        <div class="body-text color-lgrey">Charge</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-button (click)="onChargeStop()" expand="full" color="secondary" size="large">Stop Charging</ion-button>
