.bg {
  background-image: url('/../../assets/img/chargebud-2x.png');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-text{
  text-align: center;
  font: normal normal normal 35px/35px Genesa;
  color: #FFFFFF;
  position: relative;
  top: 5%;
  font-family: 'Lexend-Regular';
}
