<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Invoice" class="back_btn"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-content class="header">
  TCL Service Station
 </ion-content>
 <ion-content class="subtitle">
  Patrakarpuram, Gomtinagar, Lucknow- 226022
 </ion-content>
</ion-content>
<ion-grid>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle  class="h"><h1>Reserved Port</h1>></ion-card-subtitle>
    <ion-card-title>A7</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Reservation Details
  </ion-card-content>
  <ion-card-content>March 24, 2021 | 06:34 PM</ion-card-content>
  <ion-card-content>Duration</ion-card-content>
  <ion-card-content>1 h 20 min</ion-card-content>
</ion-card>
</ion-grid>
<ion-toolbar>
  <ion-buttons collapse="true" class="btn btn-green">
    <ion-title>View Station Details</ion-title>
  </ion-buttons>
  <ion-buttons collapse="true" class="btn btn-blue">
    <img src="./assets/icon/Icon ionic-md-navigate.svg" alt=""/>
    <ion-title>Get directions</ion-title>
  </ion-buttons>
</ion-toolbar>


