.circle-icon{
  width: 7rem;
  margin: 2.4rem auto auto;
}
.close-icon{
  position: absolute;
  right: 10px;
}
.header{
  margin: 1rem 0 0.5rem 0;
  font-family: Lexend-Regular;
  font-size: 1.625rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #273d4c;
}
.sub-header{
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #c3d0d9;
}
