ion-icon{
  color: #30CF87;
}
.model-title{
  padding: 1rem 0 0 1rem;
  font-family: Lexend-Regular;
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-block;
}
.text-wrap{
  padding: 10px 5px;
  margin: 10px 0px;
}
