<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="./home/profile" class="back_btn" title="blank"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Smart Socket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-segment class="bottom-tab" mode="md" value="history" (ionChange)="segmentChanged()">
    <ion-segment-button value="history" (click)="toggleView(true)">
      <ion-label>Chargers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reservation" (click)="toggleView(false)">
        <ion-label>Charging Records</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="history" class="color-light-grey list-body">
    <ion-grid>
      <ion-row>
        <ion-col class="zero-charge">
          0 Chargers
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="saveSocket()">+ Add new charger</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <img class="error-icon margin-t-5rem" src="../assets/icon/error/error-1.svg"/>
  </div>
  <div *ngIf="!history" class="color-light-grey list-body">
    <div class="socket-history-header">
      <img src="assets/icon/profile/rectangle.svg" class="rectangle">
      <ion-grid>
        <ion-row class="padding-t-10">
          <ion-col class="revenue-txt">
            <div class="color-green font-size-2rem">₹ 0.00</div>
            <div>Revenue Generated</div>
          </ion-col>
          <ion-col>
            <ion-select [(ngModel)]="selectedMonthFilter" interface="action-sheet">
              <ion-select-option *ngFor="let option of monthOptions" value="{{option.value}}">{{option.text}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="padding-t-20">
          <ion-col class="revenue-txt">
            <div class="font-size-1rem">0 hr</div>
            <div class="font-size-p8rem">Public Charging Time</div>
          </ion-col>
          <ion-col>
            <div class="font-size-1rem">0 hr</div>
            <div class="font-size-p8rem">Personal Charging Time</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row class="padding-t-10">
        <ion-col>
          <ion-select placeholder="All Chargers" [(ngModel)]="selectedCharger" interface="action-sheet">
            <ion-select-option *ngFor="let option of chargerOptions" value="{{option.value}}">{{option.text}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <img class="error-icon padding-top-20" src="../assets/icon/error/error-2.svg"/>
  </div>
</ion-content>
