<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="./home/profile" class="back_btn" title="blank"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Smart Socket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-segment class="bottom-tab" mode="md" value="history" (ionChange)="segmentChanged()">
    <ion-segment-button value="history" (click)="toggleView(true)">
      <ion-label>Chargers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reservation" (click)="toggleView(false)">
        <ion-label>Charging Records</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="history" class="color-light-grey list-body">
    <ion-grid>
      <ion-row>
        <ion-col class="zero-charge">
          0 Chargers
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="saveSocket()">+ Add new charger</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <img class="error-icon margin-t-5rem" src="../assets/icon/error/error-1.svg"/>
    <ion-grid>
      <ion-card class="padding-1-rem">
          <div class="so-header">Gomti Nagar Shop</div>
          <div class="so-header-type color-green">PERSONAL CHARGER</div>
          <ion-row>
            <ion-col size="9" class="so-address padding-0">
              <ion-icon class="so-address-icon" name="location-outline"></ion-icon>
              <span>Shop 4, Tandon Building, Kaiserbagh Cir, Lucknow, Uttar Pradesh 226001</span>
            </ion-col>
            <ion-col size="3" class="so-header-type color-green padding-0 text-align-right">
              CHARGING
            </ion-col>
          </ion-row>
      </ion-card>
      <ion-card class="padding-1-rem">
        <div class="so-header">Gomti Nagar Shop</div>
        <div class="so-header-type color-green">₹10 / kWh</div>
        <ion-row>
          <ion-col size="9" class="so-address padding-0">
            <ion-icon class="so-address-icon" name="location-outline"></ion-icon>
            <span>Shop 4, Tandon Building, Kaiserbagh Cir, Lucknow, Uttar Pradesh 226001</span>
          </ion-col>
          <ion-col size="3" class="so-header-type color-green padding-0 text-align-right">
            CHARGING
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>
  <div *ngIf="!history" class="color-light-grey list-body">
    <div class="socket-history-header">
      <img src="assets/icon/profile/rectangle.svg" class="rectangle">
      <ion-grid>
        <ion-row class="padding-t-10">
          <ion-col class="revenue-txt">
            <div class="color-green font-size-2rem">₹ 0.00</div>
            <div>Revenue Generated</div>
          </ion-col>
          <ion-col>
            <ion-select [(ngModel)]="selectedMonthFilter" interface="action-sheet">
              <ion-select-option *ngFor="let option of monthOptions" value="{{option.value}}">{{option.text}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="padding-t-20">
          <ion-col class="revenue-txt">
            <div class="font-size-1rem">0 hr</div>
            <div class="font-size-p8rem">Public Charging Time</div>
          </ion-col>
          <ion-col>
            <div class="font-size-1rem">0 hr</div>
            <div class="font-size-p8rem">Personal Charging Time</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row class="padding-t-10">
        <ion-col>
          <ion-select placeholder="All Chargers" [(ngModel)]="selectedCharger" interface="action-sheet">
            <ion-select-option *ngFor="let option of chargerOptions" value="{{option.value}}">{{option.text}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <img class="error-icon padding-top-20" src="../assets/icon/error/error-2.svg"/>
    <ion-grid>
      <ion-card (click)="showDetail()">
        <ion-card-content>
          <div class="title-text">Praveen singh</div>
          <div class="cost-box">
            <ion-grid class="padding-0">
              <ion-row>
                <ion-col class="padding-tb-10">
                  <div class="header-text">Duration</div>
                  <div class="body-text">1 h 20 min (10kW)</div>
                </ion-col>
                <ion-col class="padding-tb-10">
                  <div class="header-text">Amount</div>
                  <div class="body-text">₹250</div>
                </ion-col>
                <ion-col class="padding-tb-10">
                  <div class="header-text">Date</div>
                  <div class="body-text">March 24, 2021</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>
