<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home" class="back_btn" title="blank"></ion-back-button>
  </ion-buttons>
</ion-toolbar>


<div class="image_layout">
<img src="./assets/icon/Group 1526.svg"/>
</div>

<div class="display">
  Your charging is complete
</div>
<div class="display_subtitle">
  Please place gun back to the charger.
</div>
<div class="card">
  <div class="card-box">
  <div class="header">
    Let other use the charger
  </div>
  <div class="footer">
    10:30:10 mins late
  </div>
  </div>
</div>

<ion-button color="none" class="btn-pay" expand="full" size="large">
  Proceed to Pay
</ion-button>

