.image_layout{
  margin-left: auto;
  margin-right: auto;
}
.display{
  text-align: center;
  color: #273D4C;
  line-height: 0px;
  font: normal normal 600 26px/33px Lexend-Bold;
  height: 0px;
}
.display_subtitle{
  text-align: center;
  font: normal normal normal 18px/23px Lexend-Regular;
  color: #C3D0D9;
  margin-top: 1rem;
}
.card-content{
  font-family: Lexend-Regular;
  color: #273D4C;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
