.swipe-to-reserve-text {
  margin: 0.026rem 0 0 0.594rem;
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #273d4c;
}
.header-text {
  margin: 0 0.875rem 0.25rem;
  font-family: Lexend-Regular;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
.body-text{
  margin: 0.25rem 0.25rem 0 0.313rem;
  font-family: Lexend-Regular;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
.border-right{
  border-right: 2px solid #f3f7fa;
}
.time-slot ion-col{
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgb(34 62 80 / 8%);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-text{
  font-family: Lexend-Regular;
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #273d4c;
}
.time-text-selected{
  color: #C3D0D9;
}
.cost-box{
  border-radius: 5px;
  background: #273d4c;
  color: white;
  margin: 10px;
}
.margin-lrb-10{
  margin: 0px 10px 10px 10px;
}
