ion-icon{
    color: #30CF87;
}

.btn-route{
background: #273D4C 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 16px #190D314D;
border-radius: 5px;
}

.txt-in-btn{
    font: normal normal 600 17px/21px Lexend-Regular;
    display: flex;
    justify-content: space-between;
}

.input-2{
    display: flex;
    justify-content: start;
}