<ion-content>
  <ion-header>
  <div class="model-title">On Route to
    <img class="close-icon" src="./assets/icon/close.svg" (click)="close()"/>
  </div>
  </ion-header>
  <div class="input-2">
  <ion-icon name="location-outline" size="large" class="padding-5"></ion-icon>
  <ion-item>
    <ion-textarea></ion-textarea>
  </ion-item>
  </div>
  <div class="input-2">
    <ion-icon name="locate-outline" size="large" class="padding-5"></ion-icon>
    <ion-item>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>
  <ion-button  class="padding-5 margin-0 box-shadow-none btn-route"color="none" expand="full" size="large" (click)="close()">
    <ion-icon name="navigate"></ion-icon>
    <div class="txt-in-btn"> Set Route</div>
  </ion-button>
</ion-content>