.selector-bg{
    background: #F3F7FA 0% 0% no-repeat padding-box;
}
.close-icon{
  position: absolute;
  right: 10px;
}
.header-title{
  font: normal normal bold 20px/25px Lexend-Regular;
  color: #273D4C;
  margin: 0.9rem 0.3rem 0 0;
  text-align: center;
}
.title{
  margin: 1rem 0 1rem 1rem;
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
}
.header-text{
  font-family: Lexend-Regular;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
.border-box-km{
  padding: 1rem 0;
  border-radius: 5px;
  margin: 0.2rem;
  text-align: center;
  background-color: white;
}
.connector-ammenities-col ion-col{
  padding: 0.5rem 0;
  border-radius: 5px;
  margin: 0.2rem;
  text-align: center;
  background-color: white;
}
.selected-bg{
  background-color: #30CF87 !important;
  color: white !important;
  font-weight: bold;
}
.name{
  font-family: Lexend-Regular;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  padding-top: 0.2rem;
  letter-spacing: normal;
  text-align: center;
}
.btn-txt{
  font-family: normal 600 10px/10px Lexend-Regular;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  padding-top: 0.2rem;
  letter-spacing: normal;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
}
.border-box{
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  background: white;
}
.border-box-sel{
  width: 3.25rem;
  margin: auto;
}
.name-center-vertical{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.btn-switch{
  padding-left: 5rem;
  margin: 0;
}
.reset-btn{
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 600;
  align-items: center;
  height: 3rem;
  margin:0;
  border-radius: 10px;
}
.btn-section{
  max-height: 10%;
  margin-bottom: 1rem;
}
