<ion-content>
  <div class="selector-bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="header-title">Filters</div>
        </ion-col>
        <img class="close-icon" src="./assets/icon/close.svg" (click)="close()"/>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <div class="title">Chargers</div>
      <ion-row>
        <ion-col (click)="changeChargerType('ALL')" class="border-box" [ngClass]="{'selected-bg': selectedChargerType === 'ALL'}">
          <div class="header-text">ALL</div>
        </ion-col>
        <ion-col (click)="changeChargerType('AC')" class="border-box" [ngClass]="{'selected-bg': selectedChargerType === 'AC'}">
          <div class="header-text">AC</div>
        </ion-col>
        <ion-col (click)="changeChargerType('DC')" class="border-box" [ngClass]="{'selected-bg': selectedChargerType === 'DC'}">
          <div class="header-text">DC</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <div class="title">Distance</div>
      <ion-row>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(0.5)" [ngClass]="{'selected-bg': distance === 0.5}">
          <div>500m</div>
        </ion-col>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(1)" [ngClass]="{'selected-bg': distance === 1}">
          <div>1km</div>
        </ion-col>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(2)" [ngClass]="{'selected-bg': distance === 2}">
          <div>2km</div>
        </ion-col>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(5)" [ngClass]="{'selected-bg': distance === 5}">
          <div>5km</div>
        </ion-col>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(10)" [ngClass]="{'selected-bg': distance === 10}">
          <div>10km</div>
        </ion-col>
        <ion-col size="2.7" class="border-box-km" (click)="changeDistance(20)" [ngClass]="{'selected-bg': distance === 20}">
          <div>20km</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
    <div class="title">Connectors</div>
    <ion-row class="connector-ammenities-col">
      <ion-col size="3.7" (click)="changeConnectorType('ALL')" [ngClass]="{'selected-bg': selectedConnectorType === 'ALL'}">
        <div class="name-center-vertical" style="padding-top: 1.5rem;">All</div>
      </ion-col>
      <ion-col *ngFor="let connectorType of connectorTypeList" size="3.7" (click)="changeConnectorType(connectorType)" [ngClass]="{'selected-bg': selectedConnectorType === connectorType}">
          <img onerror="this.onerror=null; this.src='assets/icon/port/ACType-1.svg'" class="border-box-sel" src='assets/icon/port/{{connectorType}}.svg' />
          <div class="name">{{connectorType}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="btn-txt name-center-vertical">Only Available Chargers</ion-col>
      <ion-col><ion-toggle (ionChange)="isOnlyAvailable = !isOnlyAvailable" checked="{{isOnlyAvailable}}" class="btn-switch" color="primary"></ion-toggle></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="btn-txt name-center-vertical">Only Free Chargers</ion-col>
      <ion-col><ion-toggle (ionChange)="isOnlyFree = !isOnlyFree" checked="{{isOnlyFree}}" class="btn-switch" color="primary"></ion-toggle></ion-col>
    </ion-row>
  </ion-grid>
    <!--<ion-grid>
      <div class="title">Ammenities</div>
      <ion-row class="connector-ammenities-col">
        <ion-col size="3.7" (click)="changeAmmenities('All Ammenities')" [ngClass]="{'selected-bg': Ammenitie === 'All Ammenities'}">
          <div class="name-center-vertical" style="padding-top: 1.5rem;">All</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('auto-service-station')" [ngClass]="{'selected-bg': Ammenitie === 'auto-service-station'}">
          <img class="border-box-sel" src='assets/icon/ammenities/auto-service-station.svg' />
          <div class="ammenities-name">auto-service-station</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('cafeteria')" [ngClass]="{'selected-bg': Ammenitie === 'cafeteria'}">
          <img class="border-box-sel" src='assets/icon/ammenities/cafeteria.svg' />
          <div class="ammenities-name">cafeteria</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('chemist-shop')" [ngClass]="{'selected-bg': Ammenitie === 'chemist-shop'}">
          <img class="border-box-sel" src='assets/icon/ammenities/chemist-shop.svg' />
          <div class="ammenities-name">chemist-shop</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('food-stall')" [ngClass]="{'selected-bg': Ammenitie === 'food-stall'}">
          <img class="border-box-sel" src='assets/icon/ammenities/food-stall.svg' />
          <div class="ammenities-name">food-stall</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('hotel')" [ngClass]="{'selected-bg': Ammenitie === 'hotel'}">
          <img class="border-box-sel" src='assets/icon/ammenities/hotel.svg' />
          <div class="ammenities-name">hotel</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('mall')" [ngClass]="{'selected-bg': Ammenitie === 'mall'}">
          <img class="border-box-sel" src='assets/icon/ammenities/mall.svg' />
          <div class="ammenities-name">mall</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('park-garden')" [ngClass]="{'selected-bg': Ammenitie === 'park-garden'}">
          <img class="border-box-sel" src='assets/icon/ammenities/park-garden.svg' />
          <div class="ammenities-name">park-garden</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('parking')" [ngClass]="{'selected-bg': Ammenitie === 'parking'}">
          <img class="border-box-sel" src='assets/icon/ammenities/parking.svg' />
          <div class="ammenities-name">parking</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('rest-room')" [ngClass]="{'selected-bg': Ammenitie === 'rest-room'}">
          <img class="border-box-sel" src='assets/icon/ammenities/rest-room.svg' />
          <div class="ammenities-name">rest-room</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('retail-store')" [ngClass]="{'selected-bg': Ammenitie === 'retail-store'}">
          <img class="border-box-sel" src='assets/icon/ammenities/retail-store.svg' />
          <div class="ammenities-name">retail-store</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('salon')" [ngClass]="{'selected-bg': Ammenitie === 'salon'}">
          <img class="border-box-sel" src='assets/icon/ammenities/salon.svg' />
          <div class="ammenities-name">salon</div>
        </ion-col>
        <ion-col size="3.7" (click)="changeAmmenities('wifi')" [ngClass]="{'selected-bg': Ammenitie === 'wifi'}">
          <img class="border-box-sel" src='assets/icon/ammenities/wifi.svg' />
          <div class="ammenities-name">wifi</div>
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </div>
</ion-content>
<ion-content scroll-y="false" class="btn-section">
  <ion-grid>
    <ion-row>
      <ion-col><ion-button class="reset-btn" expand="full" color="danger" fill="outline" size="large" (click)="resetFilter()">Reset</ion-button></ion-col>
      <ion-col><ion-button class="reset-btn" expand="full" size="large">Apply</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  
