<ion-content (click)="close()">
  <div class="btn-iphone">
    <ion-icon src="./assets/icon/Rectangle254.svg" (click)="close()"></ion-icon>
  </div>

      <div class="txt-header">
        Do you want to share your charging history?
        <ion-icon class="btn-whatsapp" size="large" src="./assets/icon/whatsapp.svg" (click)="close()"></ion-icon>
      </div>
      
  <div class="hint-txt">
    Sharing monthly record from 01/03/21 to 31/03/21
  </div>

  <ion-button class="share-btn" color="none" (click)="openShareModal()">
    <ion-icon class="share-icon" src="./assets/icon/share.svg"></ion-icon>
    <div class="text-btn">Share Receipt</div>
  </ion-button>
</ion-content>
