.txt-header{
  font: normal normal 600 20px/25px Lexend-Regular;
  color: #273D4C;
  width: 80%;
  display: inline-block;
  margin: 2rem 0 1rem 1rem;
}
.hint-txt{
  text-align: left;
  font: normal normal  13px/14px Lexend-Regular;
  letter-spacing: 0px;
  color: #C3D0D9;
  margin: 0.5rem 1rem;
}
ion-button{
  width: 90%;
  height: 3rem;
}
