<ion-content class="background">
  <div class="header_layout">
  <div class="header">
      Charging Records
  </div>
  <div class="dropdown_bay">
      <ion-label class="label" (click)="presentActionSheet()">Last Charged</ion-label>
  </div>
  </div>
  <ion-content class="card_layout">
  <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL1 Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card>   
    <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card> 
    <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card> 
    <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card> 
    <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card> 
    <ion-card>
      <ion-grid>
        <ion-col class="ion-align-self-start name">
          TCL Service Station
        </ion-col>
        <ion-col class="ion-align-self-end date">
          March 21,2021
        </ion-col>
      </ion-grid>
      <ion-grid>
        <ion-col class="ion-align-self-start time">
          1hrs 20 mins
        </ion-col>
        <ion-col class="ion-align-self-center amount">
          250$
        </ion-col>
        <ion-col class="ion-align-self-end Share">
          Share Receipt
        </ion-col>
          <ion-icon name="share-social-outline"></ion-icon>
      </ion-grid>
    </ion-card> 
  </ion-content>
</ion-content>

