.title-text{
  font-family: Lexend-Regular;
  font-size: 1.125rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
}
.header-text{
  font-family: Lexend-Regular;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #c3d0d9;
  text-transform: uppercase;
}
.body-text{
  font-family: Lexend-Regular;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
}
.footer-text {
  font-family: Lexend-Regular;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
  margin-top: 10px;
}
.share-icon {
  font-size: 24px;
  color: #30cf87;
  padding: 0px 1rem;
}
.list-body{
  height: 90%;
  overflow-y: scroll;
}
.reservation-status{
    font-family: Lexend-Regular;
    font-size: 0.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    float: right;
    text-transform: uppercase;
}
.share-btn{
  background-color: #273D4C;
  margin: 0;
  height: 4rem;
}
