.header{
    padding-top:30px;
    padding-left:20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-lexend);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-273d4c);
    text-align: left;
    font: normal normal 600 24px/30px Lexend;
    letter-spacing: 0px;
    color: #273D4C;
    opacity: 1;
}

.header_layout{
top: 0px;
left: 0px;
width: 428px;
height: 138px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 15px #0000000D;
opacity: 1;
position: fixed;
z-index: 1;
}

.header_layout > .dropdown_bay{
top: 50px;
left: 11px;
width: 159px;
height: 36px;
padding-left: 20px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-c3d0d9);
border: 1px solid #C3D0D9;
border-radius: 8px;
opacity: 1;
}
.dropdown_bay > label{
    
    text-align: center;
    color: #273D4C;
    padding:20px;
}

ion-grid{
    padding: 20px;
}

.date{
    padding-left: 70px;
    color: #273D4C;
    font-weight:bold;
}

.amount{
    padding-left: 20px;
    color: #273D4C;
    font-weight:bold;
}

.time{
    color: #273D4C;
    font-weight:bold;
}

.name{
color: #273D4C;
font-weight:bold;
}
.Share{
    padding-left: 40px;
    color: #30CF87;
    font-weight:bold;
}
.icon{
    padding-right: 10px;
}

.background{
    --background: #F3F7FA 0% 0% no-repeat padding-box;
}

