<ion-content fullscreen class="padding-10">
  <img class="close-icon" src="./assets/icon/close.svg"/>
  <div class="header">Please select your car</div>
  <ion-searchbar class="padding-top-20"></ion-searchbar>
  <ion-list class="padding-top-20">
    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>Tata Tigor EV</ion-label>
        <ion-radio slot="end" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tata Nexon EV</ion-label>
        <ion-radio slot="end" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>MG ZS EV</ion-label>
        <ion-radio slot="end" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-button expand="full" size="large">Confirm</ion-button>

