<ion-content fullscreen class="padding-10">
  <img class="close-icon" src="./assets/icon/close.svg"/>
  <div class="header">Please select your car</div>
  <ion-searchbar class="padding-top-20"></ion-searchbar>
  <ion-list class="padding-top-20">
    <ion-radio-group [(ngModel)]="userSelectionFromDB">
      <ion-item *ngFor="let vehicle of userVehiclePreferences">
        <ion-label>{{vehicle.code}}</ion-label>
        <ion-radio slot="end" value="{{vehicle.code}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-button expand="full" size="large" (click)="saveUserPreference()">Confirm</ion-button>

