<ion-content [fullscreen]="true">
  <img src="assets/icon/profile/rectangle.svg" class="rectangle">
  <div class="profile-header">Hello Suraj!</div>
  <ion-card class="margin-15">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="green-coins"><img class="green-icon" src="assets/icon/profile/green-icon.svg" /> Green Coins</div>
            <div class="green-coins-text">535</div>
          </ion-col>
          <ion-col class="text-align-center">
            <div><img src="assets/icon/profile/add-icon.svg"/></div>
            <div class="add-coins padding-t-5">Add coins</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="margin-15" (click)="showEditPopupName()">
    <div class="label-header">Name</div>
    <div class="label-value">Suraj Singh</div>
  </div>
  <div class="margin-20">
    <div class="label-header">Email ID</div>
    <div class="label-value">abc@gmail.com</div>
  </div>
  <div class="margin-20">
    <div class="label-header">Mobile Number</div>
    <div class="label-value">9543443545</div>
  </div>
  <div class="divider"></div>
  <ion-list button>
    <ion-item *ngFor="let menu of menus" (click)="viewMenu(menu.routes)">
      <img [src]="menu.icon" />
      <ion-label>
        <h3 class="padding-110">{{menu.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
