<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="./home/profile" class="back_btn" title="blank"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Help & Support</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-grid>
    <ion-row>
      <ion-col class="body-text" size="8">
        <div class="padding-t-10">Help Line Number</div>
        <div class="body-text-green">1800-11-4000</div>
      </ion-col>
      <ion-col class="body-text">
        <img class="height-100" src="./assets/icon/profile/call.svg"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="body-text" size="8">
        <div class="padding-t-10">Write To Us</div>
        <div class="body-text-green">help@chargebud.com</div>
      </ion-col>
      <ion-col class="body-text">
        <img class="height-100" src="./assets/icon/profile/message.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<img src="./assets/icon/profile/help-support.svg"/>
