.header {
  font-family: Lexend-Regular;
  font-size: 1.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
}
.body-text{
  margin: 0 0 0.25rem 0.8rem;
  font-family: Lexend-Regular;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #273d4c;
}
.body-text-green{
  font-size: 1rem;
  color: #30cf87;
}
