/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
  --amplify-primary-color: #30CF87;
  --amplify-primary-tint: #0000FF;
  --amplify-primary-shade: #30CF87;
}
.gm-style-cc {
  display: none !important;
}
.gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.view-route {
  --height: 50%;
}
.view-route .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.select-vehicle {
  --height: 85%;
}
.select-vehicle .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.color-red{
  color: #EA7267;
}
.color-green{
  color: #30CF87;
}
.color-white{
  color: white;
}
height-40{
  height: 40px;
}
.padding-15{
  padding: 15px !important;
}
.font-size-12{
  font-size: 12px;
}
.in-list{
  --border-color: white;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-10{
  padding: 10px;
}
.float-right{
  float: right;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-5{
  padding: 5px;
}
.color-yellow{
  color: #edc32f;
}
.close-icon{
  float: right;
  padding: 10px;
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.margin-20{
  margin: 20px;
}
.view-charge-station {
  --height: 75%;
}
.view-charge-station .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.view-ammenities {
  --height: 80%;
}
.view-ammenities .modal-wrapper{
  margin: 5%;
  border-radius: 5px;
  width: 100%;
}
.view-ammenities ion-backdrop{
  --backdrop-opacity: 0.4;
}
.color-dark-green{
  background: #273d4c;
}
.color-light-grey{
  --background: #f3f7fa;
  background: #f3f7fa;
}
.button-slide ion-item{
  --min-height: 4rem;
}
ion-select{
  width: 100%;
}
.action-sheet-group.sc-ion-action-sheet-md:last-child, .action-sheet-group.sc-ion-action-sheet-ios:last-child {
  display: none;
}
.padding-0{
  padding: 0px;
}
.padding-tb-10{
  padding: 10px 0px;
}
.vertical-align-middle{
  vertical-align: middle;
}
