/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
  --amplify-primary-color: #30CF87;
  --amplify-primary-tint: #0000FF;
  --amplify-primary-shade: #30CF87;
}
.gm-style-cc {
  display: none !important;
}
.gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.view-route {
  --height: 37%;
}
.view-route .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.select-vehicle {
  --height: 85%;
}
.select-vehicle .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.color-red{
  color: #EA7267;
}
.color-lgrey{
  color: #c3d0d9 !important;
}
.color-green{
  color: #30CF87 !important;
}
.color-darkgreen{
  color: #273d4c !important;
}
.bg-green{
  background-color: #30CF87 !important;
}
.color-white{
  color: white !important;
}
height-40{
  height: 40px;
}
.padding-15{
  padding: 15px !important;
}
.font-size-12{
  font-size: 12px;
}
.font-size-2rem{
  font-size: 2rem;
}
.font-size-1p5rem {
  font-size: 1.5rem;
}
.font-size-p8rem{
  font-size: 0.8rem;
}
.in-list{
  --border-color: white;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-10{
  padding: 10px;
}
.padding-110{
  padding-left: 10px;
}
.float-right{
  float: right;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-5{
  padding: 5px;
}
.color-yellow{
  color: #edc32f;
}
.close-icon{
  float: right;
  padding: 10px;
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.margin-20{
  margin: 20px;
}
.view-charge-station {
  --height: 85%;
}
.view-charge-station .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.stop-confirm{
  --width: 85%;
  --height: 68%;
}
.stop-confirm .modal-wrapper{
  border-radius: 9px;
}
.update-profile{
  --height: 30%;
}
.update-profile .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.view-ammenities {
  --height: 80%;
}
.view-ammenities .modal-wrapper{
  margin: 5%;
  border-radius: 5px;
  width: 100%;
}
.select-port{
  --height: 80%;
}
.select-port .modal-wrapper{
  margin: 5%;
  border-radius: 5px;
  width: 100%;
}
.view-ammenities ion-backdrop{
  --backdrop-opacity: 0.4;
}
.color-dark-green{
  background: #273d4c;
}
.color-light-grey{
  --background: #f3f7fa;
  background: #f3f7fa;
  box-shadow: none !important;
}
.button-slide ion-item{
  --min-height: 4rem;
}
ion-select{
  width: 100%;
}
.action-sheet-group.sc-ion-action-sheet-md:last-child, .action-sheet-group.sc-ion-action-sheet-ios:last-child {
  display: none;
}
.padding-0{
  padding: 0px;
}
.padding-tb-10{
  padding: 10px 0px;
}
.vertical-align-middle{
  vertical-align: middle;
}
.margin-15{
  margin: 15px;
}
.text-align-center{
  text-align: center !important;
}
.text-align-right{
  text-align: right !important;
}
.padding-t-5{
  padding-top: 5px;
}
.font-weight-bold{
  font-weight: bold !important;
}
.margin-lrb-10{
  margin: 0px 10px 10px 10px;
}
.fw-600{
  font-weight: 600;
}
.ml-1rem{
  margin-left: 1rem;
}
.margin-t-5rem{
  margin-top: 5rem;
}
.padding-t-10{
  padding-top: 10px;
}
.padding-t-20{
  padding-top: 20px;
}
.margin-t-1rem{
  margin-top: 1rem !important;
}
.margin-l-2rem{
  margin-left: 2rem !important;
}
.height-100{
  height: 100%;
}
.toast_style {
  color: white !important;
  font-family: 'Lexend-Regular';
  font-size: 1.125rem;
  font-weight: 500;
}
ion-button{
  margin: 15px;
  box-shadow: 0 12px 16px 0 rgba(25, 13, 49, 0.3);
}
.margin-b0{
  margin-bottom: 0px;
}
.margin-0{
  margin: 0 !important;
}
.box-shadow-none{
  box-shadow: none;
}
.padding-l-5rem{
  padding-left: 5rem;
}
.text-transform-upper{
  text-transform: uppercase;
}
.padding-1-rem{
  padding: 1rem;
}
.cancel-reservation{
  --height: 53%;
  --width: 85%;
}
.cancel-reservation .modal-wrapper{
  border-radius: 10px;
}
.unpaid-bill {
  --height: 85%;
  --width: 95%;
}
.near-me {
  --height: 37%;
}
.near-me .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.share-receipt{
  --height: 30%;
}
.share-receipt .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.margin-lr-1rem{
  margin: 0 1rem;
}
.payment-complete{
  --height: 80%;
}
.payment-complete .modal-wrapper{
  margin: 5%;
  border-radius: 5px;
  width: 100%;
}
.main-filter{
  --height: 90%;
}
.main-filter .modal-wrapper{
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.border-box-selected{
  background-color: #30cf87 !important;
  color: white !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
